<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.address" id="addrId">
		<constructor-arg value="1"></constructor-arg>
		<constructor-arg value="surat"></constructor-arg>
		<constructor-arg value="394105"></constructor-arg>
	</bean>
	
	<bean class="com.Student" id="stdId">
		<constructor-arg value="10"></constructor-arg>
		<constructor-arg value="maani"></constructor-arg>
		<constructor-arg ref="addrId"></constructor-arg>
	</bean>

</beans>